<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">    

  <div class="row">
    <div class="col-sm">
      <h1><%= page %></h1>
    </div>
  </div>

  <form class="asset-type-add-form" action="" method="post">

  <%# Information %>
  <div class="row">
    <div class="col-sm">
      <div class="card">

        <div class="card-body">

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="asset-type-name">Name</label>
              <input type="text" class="form-control" name="assetType_name" id="asset-type-name" required title="Asset type name">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="asset-type-description">Description</label>
              <input type="text" class="form-control" name="assetType_description" id="asset-type-description" required title="Asset type description">
            </div>
          </div>

        </div>
      
      </div>
    </div>
  </div>

  <%# Add/Cancel %>
  <div class="row my-3">
    <div class="col-sm">
      <button type="submit" class="btn btn-success float-left">Add</button>
      <a href="/asset-type/" class="btn btn-danger float-right">Cancel</a>    
    </div>
  </div>

  </form>

</div>
<% include ../partials/script %>
</body>
</html>
