<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">

  <div class="row">
    <div class="col-sm">
      <h1><%= page %></h1>
    </div>
  </div>

  <%# Checkpoints %>
  <div class="row">
    <div class="col-sm">
      <% if (checkpoints.length > 0) {%>
        <div class="card">
          <ul class="list-group list-group-flush">
          <% checkpoints.forEach(checkpoint => { %>
              <li class="list-group-item">
                <a href="/checkpoints/checkpoint/<%= checkpoint._id %>"><%= checkpoint.name %></a>
                <small class="form-text text-muted"><%= checkpoint.description %></small>
              </li>
          <% }) %>
          </ul>
        </div>
      <% } else { %>
        <p>No Checkpoints</p>
      <% } %>
    </div>
  </div>

  <%# Add %>
  <div class="row my-3">
    <div class="col-sm">
      <a class="btn btn-info mt-2 mb-3" href="/checkpoints/add/">Add</a>
    </div>
  </div>

</div>
<% include ../partials/script %>
</body>
</html>
