<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">

  <div class="row">
    <div class="col-sm">
      <h1><%= page %></h1>
    </div>
  </div>

  <form class="site-add-form" action="" method="post">

  <%# Information %>
  <div class="row">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Site Information
        </div>

        <div class="card-body">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="site-name">Name</label>
              <input type="text" class="form-control" name="site_name" id="site-name" required title="Site name">
            </div>
            <div class="form-group col-md-3">
              <label for="site-type">Acronym</label>
              <input type="text" class="form-control" name="site_acronym" id="site-acronym" required title="Site type">
            </div>
            <div class="form-group col-md-3">
              <label for="site-description">Number</label>
              <input type="text" class="form-control" name="site_number" id="site-number" required title="Site description">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="site-address">Address</label>
              <input type="text" class="form-control" name="site_address" id="site-address" title="Site address">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="site-lat">Latitude</label>
              <input type="text" class="form-control" name="site_lat" id="site-lat" required title="Latitude">
            </div>
            <div class="form-group col-md-6">
              <label for="site-long">Longitude</label>
              <input type="text" class="form-control" name="site_long" id="site-long" required title="Longitude">
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <%# Access %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Site Access
        </div>

        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Standard Key</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" id="access-key-standard-yes" name="access_key_standard" value="true" checked>
                  <label class="form-check-label" for="access-key-standard-yes">Yes</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" id="access-key-standard-no" name="access_key_standard" value="false">
                  <label class="form-check-label" for="access-key-standard-no">No</label>
              </div>
            </div>
            <div class="form-group col-md-10">
              <label for="access-key-note">Key Instructions</label>
              <input type="text" class="form-control" name="access_key_instructions" id="access-key-instructions" title="Key Instructions">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="access-instructions">Instructions</label>
              <textarea class="form-control" name="access_instructions" id="access-instructions" title="Access Instructions" rows="5"></textarea>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <%# Submit/Cancel %>
  <div class="row my-3">
    <div class="col-sm">
      <button type="submit" class="btn btn-success float-right"><i class="bi bi-plus-circle"></i> Add</button>
      <a href="/sites/" class="btn btn-secondary float-left">Cancel</a>   
    </div>
  </div>

  </form>

</div>
<% include ../partials/script %>
</body>
</html>
